<div class="nested-fields">
  <div class="form-group">
    <%= f.label :correct %>
    <%= f.check_box :correct %>
    <%= f.label :text %>
    <%= f.text_field :text, class: "form-comtrol" %>
    <%= link_to_remove_association "Remove answer", f %>
  </div>
</div>