<%= form_for @vote, url: check_result_vote_path, html: {method: :post} do |form| %>
    <div class="form-group">
      <%= @vote.name %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Questions</div>
      <%= form.fields_for :questions do |question_form| %>
          <div class="nested-fields">
            <div class="form-group">
              <%= question_form.object.text %>
              <%= question_form.fields_for :answers do |answer_form| %>
                  <div class="nested-fields">
                    <div class="form-group">
                      <%= answer_form.check_box :correct %>
                      <%= answer_form.object.text %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
    <%= form.submit "Result", class: "btn btn-primary" %>
<% end %>